build/
bin/
*.o
*.a
*.so
*.out
*.exe

docs/html/
html/
test/dataset/
dataset/
*.bin

*.dump
*.dump*

*.out
*.log
*.tmp
*.swp
*.swo
*.bak
*.dSYM/
*.gcda
*.gcno
*.gcov

# macOS
.DS_Store
.AppleDouble
._*
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.code-workspace
*.user
*.pro.user
*.tags
compile_commands.json

TODO.md
reports/
